<div class="header">
  <div class="header-content">
    My Svelte App
  </div>
</div>

<!-- styles -->
<style>
  .header {
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 16px -4px grey;
    width: 100vw;
    height: 52px;
    background: #305187;
    font-weight: 600;
    color: #fafafa;
    font-size: 18px
  }

  .header-content {
    padding: 8px 16px;
  }
</style>

<!-- scripts -->
<script>
  export default {
    data() {
      return {
        currentYear: new Date().getFullYear(),
      };
    },
  }
</script>