<div class="content">
	<h2>
		Welcome to svelte-boilerplate!
	</h2>
	<p>
		This boilerplate was created to learn about svelte, one of the interesting web technology currently. Currently I am still
		very much in the learning process, so any feedbacks are very welcome!
	</p>
	<p>
		You can check out the repo <a href="https://github.com/jackyef/svelte-boilerplate">here</a>. Any contributions and inputs
		will be very appreciated!
	</p>

	<hr />

	<a class="github-button" href="https://github.com/jackyef" data-size="large" data-show-count="true" aria-label="Follow @jackyef on GitHub">Follow
		@jackyef</a>

	<a class="github-button" href="https://github.com/jackyef/svelte-boilerplate/subscription" data-icon="octicon-eye" data-size="large"
	 data-show-count="true" aria-label="Watch jackyef/svelte-boilerplate on GitHub">Watch</a>
	<a class="github-button" href="https://github.com/jackyef/svelte-boilerplate" data-icon="octicon-star" data-size="large"
	 data-show-count="true" aria-label="Star jackyef/svelte-boilerplate on GitHub">Star</a>

	<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/jackyef/svelte-boilerplate/archive/master.zip" data-icon="octicon-cloud-download" data-size="large" aria-label="Download jackyef/svelte-boilerplate on GitHub">Download</a>
</div>

<!-- styles -->
<style>
  .content {
    padding: 0 16px;
  }
</style>

<!-- scripts -->
<script>
</script>