<div class="content">
	<h2>
		Welcome to svelte-boilerplate!
	</h2>
	<p>
		This boilerplate was created to learn about svelte, one of the interesting web technology currently. Currently I am still
		very much in the learning process, so any feedbacks are very welcome!
	</p>
	<p>
		You can check out the repo <a href="https://github.com/jackyef/svelte-boilerplate">here</a>. Any contributions and inputs
		will be very appreciated!
	</p>

	<hr />
	<GithubButtons />
</div>

<!-- styles -->
<style>
  .content {
    padding: 0 16px;
  }
</style>

<!-- scripts -->
<script>
	import GithubButtons from '../GithubButtons/GithubButtons.html';

	export default {
		components: {
			GithubButtons,
		},
	}
</script>