<div class="content">
	<h2>
		Server-side rendering (SSR)
	</h2>
	<p>
		This boilerplate also include server-side rendering server written in koa! No need to configure anything else. You only need
		to run: 
		</p>
	<div class="code-block">
		<code>
		  ## start the webpack-dev-server that serve the static assets <br/>
			yarn dev:client <br/>
			<br/>
			## then run our koa SSR server <br/>
			yarn dev:server <br/>
		</code>
	</div>
	<p>
		 And, that's it!
	</p>
	<p>
		If there's anything you would like to see in this boilerplate, feel free to create an issue at the github repo.
	</p>
	<p>
		If you want to contribute, that will be great! Simply create a pull request to the repo!
	</p>
</div>

<!-- styles -->
<style>
  .content {
    padding: 0 16px;
  }

	.code-block {
		padding: 16px;
		background: #efefef;
	}
</style>

<!-- scripts -->
<script>
</script>