<div class="content">
	<h2>
		Lazyloading
	</h2>
	<p>
		This part here will be Lazy-loaded. The boilerplate provide a <code>Loadable</code> component for this purpose.
		The component was taken straight from <a href="https://github.com/kaisermann/svelte-loadable/">svelte-loadable</a>.
	</p>
	<p>
		If you look at your browser devtools, in the network tab, you should see that there is another js chunk loaded apart from the main bundle.js file.
		That js chunk is responsible for rendering this component.
	</p>
</div>

<!-- styles -->
<style>
  .content {
    padding: 0 16px;
  }
</style>

<!-- scripts -->
<script>
</script>