<div class="unf-footer footer">
  <div class="unf-card unf-card--container unf-footer__apps css-1r3mikb-unf-card eue3g1e0">
    <div class="unf-footer__apps-text">Dapatkan Aplikasi Mobile Tokopedia</div>
    <div class="unf-footer__apps-icon">
      <a href="https://play.google.com/store/apps/details?id=com.tokopedia.tkpd" aria-label="footer-android"><div class="unf-footer__apps-icon--android visible" aria-label="footer-android-icon"></div></a>
      <a href="https://itunes.apple.com/us/app/tokopedia-jual-beli-online/id1001394201?mt=8" aria-label="footer-ios"><div class="unf-footer__apps-icon--ios visible" aria-label="footer-ios-icon"></div></a>
    </div>
  </div>
  <div class="unf-footer__content">
    <div class="unf-footer__content--flex">
      <a href="https://m.tokopedia.com/hot">Hotlist</a>
      <a href="https://m.tokopedia.com/official-store">Official Store</a>
    </div>
    <div class="unf-footer__content--flex">
      <a href="https://m.tokopedia.com/help">Hubungi Kami</a> 
      <a href="https://m.tokopedia.com/p">Kategori</a>
      <a href="https://www.tokopedia.com/?m2w">Situs Desktop</a>
    </div>
    <div class="unf-footer__content--flex">
      <a href="https://m.tokopedia.com/terms">Syarat &amp; Ketentuan</a> 
      <a href="https://m.tokopedia.com/privacy">Kebijakan Privasi</a>
    </div>
    <div>
      Pilih Bahasa
      <select aria-label="unf-footer-language" style="width: 88px;">
        <option value="id">Indonesia</option>
        <option value="en">English</option>
      </select>
    </div>
  </div>
  <div class="unf-footer__copyright">Copyright 2009-{currentYear}, PT Tokopedia</div>
</div>

<!-- styles -->
<style>
  .unf-footer {
    background-color: white;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    margin-bottom: 56px;
  }

  .unf-footer .unf-footer__apps {
    box-shadow: none;
    margin-bottom: 0px;
  }

  .css-1r3mikb-unf-card {
    display: block;
    position: relative;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
    margin: 16px 0px;
    padding: 16px;
    border-radius: initial;
    overflow: hidden;
  }

  .unf-footer .unf-footer__apps-text {
    margin-bottom: 16px;
    text-align: center;
  }

  .unf-footer .unf-footer__apps-icon {
    width: 244px;
    margin: auto;
    font-size: 0px;
  }

  .unf-footer__apps-icon--android {
    background-image: url(https://ecs7.tokopedia.net/assets-tokopedia-lite/v2/thor/production/footer-android.svg);
    background-size: cover;
    margin-right: 16px;
  }

  .unf-footer__apps-icon--ios {
    background-image: url(https://ecs7.tokopedia.net/assets-tokopedia-lite/v2/thor/production/footer-ios.svg);
    background-size: cover;
  }

  .unf-footer .unf-footer__content {
    text-align: center;
    padding: 8px 0px;
  }

  .unf-footer .unf-footer__content div.unf-footer__content--flex {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
  }

  .unf-footer .unf-footer__content div {
    margin-bottom: 16px;
    display: inline-block;
    width: 50%;
  }

  .unf-footer .unf-footer__content div:last-child {
    margin-bottom: 0px;
    width: 100%;
  }

  .unf-footer .unf-footer__content div select {
    padding-left: 4px;
    padding-right: 14px;
    background-size: 9px 6px;
    background-color: transparent;
    -webkit-appearance: none;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxpbWFnZSB3aWR0aD0iMTgiIGhlaWdodD0iMTIiIHhsaW5rOmhyZWY9ImRhdGE6aW1hZ2UvcG5nO2Jhc2U2NCxpVkJPUncwS0dnb0FBQUFOU1VoRVVnQUFBQklBQUFBTUNBWUFBQUJ2RXUyOEFBQUFBWE5TUjBJQXJzNGM2UUFBQVJoSlJFRlVLQldka1RGTFF6RVVSaDlXMEtKRDFVRXBIVVdodFZoMWNMSC9vM1F2Nms5eWNIVnhFa2ZIYm80V0VSemUwa0dsWWtFNk9EaDREcjZVOEtqVTlvTkQ3cGZrM3VRbVNmS3JRd2FaVmVza1NGSUFDN1JnRDViaEdmNmpCcHZPNFFUU2hWeEdFeS9UdE0yR2RyU3A3STFlWUFzMnM0VmR4Z0c4Wmo0L3VMY0RpOW5DRytPTmhkUURlTXFhQnRVaGhhRW1Vb240REZheXVVL0dDeGlGUXM0L1FoVldOY2czZTRLUkJoWGhGRFkwNkFzczhxNkpDMzNqVGR5SEpmRHFOZkMySnRsT0JZSXVDZnJCeElXY004RmZPd0FMV1hBSGJOdTNDN29pOE5DeDhvVmNzQlZQT3RJZ1d3MGZvYitGZTROWWt3cTUvZ0grbkk4ZXE0dTVpeWRDL0ZjaDEvMStXdzB0OVlpdllXNzU0TWZUc244QUZXd3JSemdGS0RzQUFBQUFTVVZPUks1Q1lJST0iIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background-repeat: no-repeat;
    background-position: right center;
  }

  .unf-footer .unf-footer__content div a, .unf-footer .unf-footer__content div select {
    color: rgb(66, 181, 73);
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
    outline: none;
  }

  .unf-footer .unf-footer__copyright {
    text-align: center;
    font-size: 11px;
    padding: 16px;
  }

  .unf-footer .unf-footer__content div.unf-footer__content--flex a:first-child {
    padding-left: 0px;
  }

  .unf-footer .unf-footer__content div.unf-footer__content--flex a:last-child {
    padding-right: 0px;
    border-right: none;
  }

  .unf-footer .unf-footer__content div.unf-footer__content--flex a {
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    border-right: 0.4px solid rgba(0, 0, 0, 0.54);
  }

  .unf-footer .unf-footer__apps-icon--ios, .unf-footer .unf-footer__apps-icon--android {
    width: 112px;
    height: 35px;
    display: inline-block;
    border-radius: 8px;
  }
</style>

<!-- scripts -->
<script>
  export default {
    data() {
      return {
        currentYear: new Date().getFullYear(),
      };
    },
  }
</script>